# CHANGELOG

{% for entry_key, entry_value in entries.items()-%}
## {{entry_key}}
{% for type, commits in entry_value.items()-%}
{%-if commits-%}
### {{type}}
{% for commit in commits-%}
- {{commit}}
{%-endfor %}
{% endif %}
{%-endfor %}
{% endfor %}
