version: 2
updates:
  -
    # Maintain dependencies for GitHub Actions
    package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
    labels:
      - dependencies
    commit-message:
      prefix: "ci(actions)"
      include: "scope"
  -
    # Maintain python dependencies
    package-ecosystem: pip
    directory: /
    schedule:
      interval: daily
    labels:
      - dependencies
    commit-message:
      prefix: "build(poetry)"
      prefix-development:: "build(poetry-dev)"
      include: "scope"
