default_install_hook_types:
  - pre-commit
  - commit-msg
  - pre-push

default_stages:
  - commit
  - push

repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-vcs-permalinks
      - id: end-of-file-fixer
        exclude: "tests/((commands|data)/|test_).+"
      - id: trailing-whitespace
        args: [ --markdown-linebreak-ext=md ]
      - id: debug-statements
      - id: no-commit-to-branch
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
        args: [ '--unsafe' ] # for mkdocs.yml
      - id: detect-private-key

  - repo: https://github.com/asottile/blacken-docs
    rev: 1.13.0
    hooks:
      - id: blacken-docs
        additional_dependencies: [ black~=23.11 ]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
      - id: codespell
        name: Run codespell to check for common misspellings in files
        language: python
        types: [ text ]
        args: [ "--write-changes", "--ignore-words-list", "asend" ]
        exclude: "poetry.lock"

  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.15.0 # automatically updated by Commitizen
    hooks:
      - id: commitizen
      - id: commitizen-branch
        stages:
          - post-commit
          - push

  - repo: local
    hooks:
      - id: format
        name: format
        language: system
        pass_filenames: false
        entry: ./scripts/format
        types: [ python ]

      - id: linter and test
        name: linter and test
        language: system
        pass_filenames: false
        stages: [ push ]
        entry: ./scripts/test
        types: [ python ]
