name: Publish to Homebrew

on:
  workflow_run:
    workflows: ["Upload Python Package"]
    types:
      - completed

jobs:
  deploy:
    runs-on: macos-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up Python
        uses: astral-sh/setup-uv@v6
        with:
          python-version: "3.x"
      - name: Install dependencies
        run: uv pip install -U commitizen
      - name: Set Project version env variable
        run: |
          echo "project_version=$(cz version --project)" >> $GITHUB_ENV
      - name: Update Homebrew formula
        uses: dawidd6/action-homebrew-bump-formula@v7
        with:
          token: ${{secrets.PERSONAL_ACCESS_TOKEN}}
          formula: commitizen
          tag: v${{ env.project_version }}
          force: true
